section{
    .s-container{
       
            .img-section img{
                width: 400px;
             
            }
            .img-section {
                left: 100px;
                color: red;
            }
        
    }
}